
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    background: pink;
    text-align: center;
    margin: 0 auto;
    height: auto;
}
.container h1 {
    background-color: royalblue;
    padding: 0.5rem;
}
main{
    width: 100%;
    /* height: 100%; */
    padding: 1rem;
}
.urgentActions{
    background-color: rgb(62, 180, 235);
    padding: 1rem;
}
.invisible {
    display: none;
}
.visible {
    display: block;
}
.urgentActions h2 {
    padding-top: 1rem;
}
.urgentActions h2 span{
    animation: changeColor 5s infinite; 
}
@keyframes changeColor {
  0%   {color:red;}
  50%  {color: white;}
  100% {color:red;}
}
main h2 {
    padding: 1rem;
    padding-bottom: 0;
}
.allFlowers,
.needWater {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.flower{
    min-width: 230px;
    padding: 0.5rem;
    background-color: darkcyan;
    border: 1px solid black;
    border-radius: .5rem;
    margin: 0.5rem 0.5rem;
    text-align: left;
}
.flower h3,
.flower h4,
.flower .image{
    text-align: center;
}
.image img {
    border-radius: 0.5rem;
}
.todayWet{
    margin: 0.5rem auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    text-align: center;
    background-color: crimson;
}
.needWater .flower{
    min-width: 200px;
    background-color: coral;
}
.needWater .flower img{
    width: 130px;
    height: auto;
}
button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    outline: none;
}
button:hover {
    color: white;
    background: grey;
}

/* duplicate Table */
section.duplicate {
    background: rgb(240, 236, 236);
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 0.3rem;
    text-align: center;
}
td[class="name"]{
    text-align: left;
}
table caption {
    padding: 1rem
}
footer{
    padding: 1.5rem;
    background:royalblue;
}
@media only screen and (min-width: 768px){
    .allFlowers,
    .needWater {
        flex-direction: row;
        flex-wrap: wrap;
    }

    table {
        width: 75%!important;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1440px){
    table {
        width: 50%!important;
    }
}
